@{
    ViewData["Title"] = "Home Page";
}


<section id="content">
    <div id="slider-rev-container">
        <div id="slider-rev">
            <ul>
                <li data-transition="fade" data-saveperformance="on" data-title="Men Collection">
                    <img src="~/images/homeslider/transparent.png" alt="background" style="background-color:#f1f6f7">
                    <div class="tp-caption lfb ltb" data-x="100" data-y="50" data-speed="1200" data-start="600" data-easing="Expo.easeOut">
                        <a href="#"><img src="~/images/homeslider/slide2_1.png" alt="slide2_1" width="300" height="600"></a>
                    </div>
                    <div class="tp-caption rev-title skewfromleft stt" data-x="610" data-y="150" data-speed="800" data-start="900"
                         data-easing="Power3.easeIn" data-endspeed="300">Новинка</div>
                    <div class="tp-caption rev-subtitle skewfromleft stt" data-x="610" data-y="205" data-speed="800" data-start="900"
                         data-easing="Power3.easeIn" data-endspeed="300">Новые поступления</div>
                    <div class="tp-caption rev-text sfl stl" data-x="610" data-y="275" data-speed="800" data-start="1300" data-easing="Power3.easeIn"
                         data-endspeed="300">
                        Как уже неоднократно упомянуто, предприниматели в сети интернет освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, призваны к ответу.
                        А также сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию, разоблачены...
                    </div>

                    <div class="tp-caption sfb stb" data-x="610" data-y="395" data-speed="1200" data-start="1800" data-easing="Power3.easeIn" data-endspeed="300">
                        <a href="#" class="btn btn-custom-2">Купить сейчас</a>
                    </div>
                </li>

                <li data-transition="fade" data-saveperformance="on" data-title="Sale">
                    <img src="~/images/homeslider/transparent.png" alt="background" style="background-color:#f1f6f7">
                    <div class="tp-caption rev-title skewfromleft stt" data-x="70" data-y="150" data-speed="800" data-start="900"
                         data-easing="Power3.easeIn" data-endspeed="300">Распродажа</div>
                    <div class="tp-caption rev-subtitle skewfromleft stt" data-x="70" data-y="205" data-speed="800" data-start="900"
                         data-easing="Power3.easeIn" data-endspeed="300">Это здесь, и вы приглашены</div>
                    <div class="tp-caption rev-text sfl stl" data-x="70" data-y="275" data-speed="800" data-start="1300" data-easing="Power3.easeIn"
                         data-endspeed="300">
                        Таким образом, существующая теория предполагает независимые способы реализации приоретизации разума над эмоциями.
                        Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности однозначно определяет каждого участника как способного принимать собственные решения касаемо стандартных подходов...
                    </div>

                    <div class="tp-caption sfb stb" data-x="70" data-y="395" data-speed="1200" data-start="1800" data-easing="Power3.easeIn" data-endspeed="300">
                        <a href="#" class="btn btn-custom-2">Купить сейчас</a>
                    </div>
                    <div class="tp-caption lfb ltb" data-x="570" data-y="50" data-speed="1200" data-start="600" data-easing="Expo.easeOut">
                        <a href="#"><img src="~/images/homeslider/slide3_1.png" alt="slide3_1" width="560" height="600"></a>
                    </div>
                </li>

                <li data-transition="fade" data-saveperformance="on" data-title="LookBook">
                    <img src="~/images/homeslider/transparent.png" alt="background" style="background-color:#f1f6f7">
                    <div class="tp-caption lfb ltb" data-x="120" data-y="50" data-speed="1200" data-start="600" data-easing="Expo.easeOut">
                        <a href="#"><img src="~/images/homeslider/slide1_1.png" alt="slide1_1" width="330" height="600"></a>
                    </div>
                    <div class="tp-caption rev-title skewfromleft stt" data-x="610" data-y="150" data-speed="800" data-start="900"
                         data-easing="Power3.easeIn" data-endspeed="300">Каталог</div>
                    <div class="tp-caption rev-subtitle skewfromleft stt" data-x="610" data-y="205" data-speed="800" data-start="900"
                         data-easing="Power3.easeIn" data-endspeed="300">Весна-Лето-2022</div>
                    <div class="tp-caption rev-text sfl stl" data-x="610" data-y="275" data-speed="800" data-start="1300" data-easing="Power3.easeIn"
                         data-endspeed="300">
                        Но акционеры крупнейших компаний неоднозначны и будут подвергнуты целой серии независимых исследований.
                    </div>

                    <div class="tp-caption sfb stb" data-x="610" data-y="395" data-speed="1200" data-start="1800" data-easing="Power3.easeIn" data-endspeed="300">
                        <a href="#" class="btn btn-custom-2">Купить сейчас</a>
                    </div>
                </li>

            </ul>
        </div><!-- End #slider-rev -->
    </div><!-- End #slider-rev-container -->

    <div class="lg-margin"></div><!-- Space -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12 main-content">
                        <div class="row home-banners">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#"><img src="~/images/middle-banner-1.png" alt="Home Big Banner 1" class="img-responsive"></a>
                            </div><!-- End .col-md-4 -->

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#"><img src="~/images/middle-banner-2.png" alt="Home Big Banner 2" class="img-responsive"></a>
                            </div><!-- End .col-md-4 -->

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#"><img src="~/images/middle-banner-3.png" alt="Home Big Banner 2" class="img-responsive"></a>
                            </div><!-- End .col-md-4 -->
                        </div><!-- End .home-banners -->

                        <div class="lg-margin"></div><!-- space -->

                        <div class="latest-items carousel-wrapper">
                            <header class="content-title">
                                <div class="title-bg">
                                    <h2 class="title">Распродажа</h2>
                                </div><!-- End .title-bg -->
                                <p class="title-desc">Только у нас вы можете получить новую модель со скидкой.</p>
                            </header>

                            <div class="carousel-controls">
                                <div id="latest-items-slider-prev" class="carousel-btn carousel-btn-prev">
                                </div><!-- End .carousel-prev -->
                                <div id="latest-items-slider-next" class="carousel-btn carousel-btn-next carousel-space">
                                </div><!-- End .carousel-next -->
                            </div><!-- End .carousel-controls -->

                            <div class="latest-items-slider owl-carousel">
                                <div class="item item-hover">
                                    <div class="item-image-wrapper">
                                        <figure class="item-image-container">
                                            <a asp-action="Product">
                                                <img src="~/images/products/item4.jpg" alt="item1" class="item-image">
                                                <img src="~/images/products/item4-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                            </a>
                                        </figure>
                                        <div class="item-price-container">
                                            <span class="item-price">₽120<span class="sub-price">.99</span></span>
                                        </div><!-- End .item-price-container -->
                                        <span class="new-rect">Новинка</span>
                                    </div><!-- End .item-image-wrapper -->
                                    <div class="item-meta-container">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-result" data-result="80"></div>
                                            </div><!-- End .ratings -->
                                            <span class="ratings-amount">
                                                4 Отзыв(а/ов)
                                            </span>
                                        </div><!-- End .rating-container -->
                                        <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                        <div class="item-action">
                                            <a href="#" class="item-add-btn">
                                                <span class="icon-cart-text">Добавить в корзину</span>
                                            </a>
                                            <div class="item-action-inner">
                                                <a href="#" class="icon-button icon-like">Избранное</a>
                                                <a href="#" class="icon-button icon-compare">Проверка</a>
                                            </div><!-- End .item-action-inner -->
                                        </div><!-- End .item-action -->
                                    </div><!-- End .item-meta-container -->
                                </div><!-- End .item -->

                                <div class="item item-hover">
                                    <div class="item-image-wrapper">
                                        <figure class="item-image-container">
                                            <a asp-action="Product">
                                                <img src="~/images/products/item1.jpg" alt="item1" class="item-image">
                                                <img src="~/images/products/item1-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                            </a>
                                        </figure>
                                        <div class="item-price-container">
                                            <span class="item-price">₽60</span>
                                        </div><!-- End .item-price-container -->
                                    </div><!-- End .item-image-wrapper -->
                                    <div class="item-meta-container">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-result" data-result="99"></div>
                                            </div><!-- End .ratings -->
                                            <span class="ratings-amount">
                                                4 Отзыв(а/ов)
                                            </span>
                                        </div><!-- End .rating-container -->
                                        <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                        <div class="item-action">
                                            <a href="#" class="item-add-btn">
                                                <span class="icon-cart-text">Добавить в корзину</span>
                                            </a>
                                            <div class="item-action-inner">
                                                <a href="#" class="icon-button icon-like">Избранное</a>
                                                <a href="#" class="icon-button icon-compare">Проверка</a>
                                            </div><!-- End .item-action-inner -->
                                        </div><!-- End .item-action -->
                                    </div><!-- End .item-meta-container -->
                                </div><!-- End .item -->

                                <div class="item item-hover">
                                    <div class="item-image-wrapper">
                                        <figure class="item-image-container">
                                            <a asp-action="Product">
                                                <img src="~/images/products/item9.jpg" alt="item1" class="item-image">
                                                <img src="~/images/products/item9-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                            </a>
                                        </figure>
                                        <div class="item-price-container">
                                            <span class="old-price">₽108</span>
                                            <span class="item-price">₽72</span>
                                        </div><!-- End .item-price-container -->
                                        <span class="discount-rect">-25%</span>
                                    </div><!-- End .item-image-wrapper -->
                                    <div class="item-meta-container">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-result" data-result="75"></div>
                                            </div><!-- End .ratings -->
                                            <span class="ratings-amount">
                                                2 Отзыв(а/ов)
                                            </span>
                                        </div><!-- End .rating-container -->
                                        <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                        <div class="item-action">
                                            <a href="#" class="item-add-btn">
                                                <span class="icon-cart-text">Добавить в корзину</span>
                                            </a>
                                            <div class="item-action-inner">
                                                <a href="#" class="icon-button icon-like">Избранное</a>
                                                <a href="#" class="icon-button icon-compare">Проверка</a>
                                            </div><!-- End .item-action-inner -->
                                        </div><!-- End .item-action -->
                                    </div><!-- End .item-meta-container -->
                                </div><!-- End .item -->

                                <div class="item item-hover">
                                    <div class="item-image-wrapper">
                                        <figure class="item-image-container">
                                            <a asp-action="Product">
                                                <img src="~/images/products/item2.jpg" alt="item1" class="item-image">
                                                <img src="~/images/products/item2-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                            </a>
                                        </figure>
                                        <div class="item-price-container">
                                            <span class="item-price">₽99</span>
                                        </div><!-- End .item-price-container -->
                                        <span class="new-rect">Новинка</span>
                                    </div><!-- End .item-image-wrapper -->
                                    <div class="item-meta-container">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-result" data-result="40"></div>
                                            </div><!-- End .ratings -->
                                            <span class="ratings-amount">
                                                3 Отзыв(а/ов)
                                            </span>
                                        </div><!-- End .rating-container -->
                                        <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                        <div class="item-action">
                                            <a href="#" class="item-add-btn">
                                                <span class="icon-cart-text">Добавить в корзину</span>
                                            </a>
                                            <div class="item-action-inner">
                                                <a href="#" class="icon-button icon-like">Избранное</a>
                                                <a href="#" class="icon-button icon-compare">Проверка</a>
                                            </div><!-- End .item-action-inner -->
                                        </div><!-- End .item-action -->
                                    </div><!-- End .item-meta-container -->
                                </div><!-- End .item -->

                                <div class="item item-hover">
                                    <div class="item-image-wrapper">
                                        <figure class="item-image-container">
                                            <a asp-action="Product">
                                                <img src="~/images/products/item7.jpg" alt="item1" class="item-image">
                                                <img src="~/images/products/item7-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                            </a>
                                        </figure>
                                        <div class="item-price-container">
                                            <span class="item-price">₽280</span>
                                        </div><!-- End .item-price-container -->
                                    </div><!-- End .item-image-wrapper -->
                                    <div class="item-meta-container">
                                        <div class="ratings-container">
                                        </div><!-- End .rating-container -->
                                        <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                        <div class="item-action">
                                            <a href="#" class="item-add-btn">
                                                <span class="icon-cart-text">Добавить в корзину</span>
                                            </a>
                                            <div class="item-action-inner">
                                                <a href="#" class="icon-button icon-like">Избранное</a>
                                                <a href="#" class="icon-button icon-compare">Проверка</a>
                                            </div><!-- End .item-action-inner -->
                                        </div><!-- End .item-action -->
                                    </div><!-- End .item-meta-container -->
                                </div><!-- End .item -->

                                <div class="item item-hover">
                                    <div class="item-image-wrapper">
                                        <figure class="item-image-container">
                                            <a asp-action="Product">
                                                <img src="~/images/products/item8.jpg" alt="item1" class="item-image">
                                                <img src="~/images/products/item8-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                            </a>
                                        </figure>
                                        <div class="item-price-container">
                                            <span class="item-price">₽280</span>
                                        </div><!-- End .item-price-container -->
                                    </div><!-- End .item-image-wrapper -->
                                    <div class="item-meta-container">
                                        <div class="ratings-container">
                                        </div><!-- End .rating-container -->
                                        <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                        <div class="item-action">
                                            <a href="#" class="item-add-btn">
                                                <span class="icon-cart-text">Добавить в корзину</span>
                                            </a>
                                            <div class="item-action-inner">
                                                <a href="#" class="icon-button icon-like">Избранное</a>
                                                <a href="#" class="icon-button icon-compare">Проверка</a>
                                            </div><!-- End .item-action-inner -->
                                        </div><!-- End .item-action -->
                                    </div><!-- End .item-meta-container -->
                                </div><!-- End .item -->
                            </div><!--latest-items-slider -->
                        </div><!-- End .latest-items -->

                        <div class="lg-margin"></div><!-- Space -->

                        <div class="row">
									<div class="col-md-7 col-sm-7 col-xs-12">
                                        <header class="content-title">
                                            <h2 class="title">Добро пожаловать на TexnoMarket</h2>
                                        </header>
										<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В своём стремлении повысить качество жизни, они забывают, что сплочённость команды профессионалов говорит о возможностях экспериментов, поражающих по своей масштабности и грандиозности! <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Современные технологии достигли такого уровня, что перспективное планирование создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса приоретизации разума над эмоциями.</p>
									</div><!-- End .col-md-7 -->
									<div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="sm-margin visible-xs"></div><!-- space -->
										<img src="~/images/showcase.png" alt="Showcase Venedor" class="img-responsive">
									</div><!-- End .col-md-5 -->
								</div><!-- End .row -->
        						<div class="xlg-margin"></div><!-- Space -->
        						
        						<div class="hot-items carousel-wrapper">
        							<header class="content-title">
										<div class="title-bg">
											<h2 class="title">Распродажа</h2>
										</div><!-- End .title-bg -->
										<p class="title-desc">Только у нас вы можете получить новую модель со скидкой.</p>
									</header>

                                <div class="carousel-controls">
                                    <div id="hot-items-slider-prev" class="carousel-btn carousel-btn-prev">
                                    </div><!-- End .carousel-prev -->
                                    <div id="hot-items-slider-next" class="carousel-btn carousel-btn-next carousel-space">
                                    </div><!-- End .carousel-next -->
                                </div><!-- End .carousel-controls -->
        						<div class="hot-items-slider owl-carousel">
        							<div class="item item-hover">
                                        <div class="item-image-wrapper">
                                            <figure class="item-image-container">
                                                <a asp-action="Product">
                                                    <img src="~/images/products/item2.jpg" alt="item1" class="item-image">
                                                    <img src="~/images/products/item2-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">₽160<span class="sub-price">.99</span></span>
                                            </div><!-- End .item-price-container -->
                                            <span class="new-rect">Новинка</span>
                                        </div><!-- End .item-image-wrapper -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="80"></div>
                                                </div><!-- End .ratings -->
                                                <span class="ratings-amount">
                                                    5 Отзыв(а/ов)
                                                </span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Добавить в корзину</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Избранное</a>
                                                    <a href="#" class="icon-button icon-compare">Проверка</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container --> 
                                    </div><!-- End .item -->

									<div class="item item-hover">
                                        <div class="item-image-wrapper">
                                            <figure class="item-image-container">
                                                <a asp-action="Product">
                                                    <img src="~/images/products/item3.jpg" alt="item1" class="item-image">
                                                    <img src="~/images/products/item3-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">₽100</span>
                                            </div><!-- End .item-price-container -->
                                            <span class="new-rect">Новинка</span>
                                        </div><!-- End .item-image-wrapper -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="99"></div>
                                                </div><!-- End .ratings -->
                                                <span class="ratings-amount">
                                                    4 Отзыв(а/ов)
                                                </span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Добавить в корзину</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Избранное</a>
                                                    <a href="#" class="icon-button icon-compare">Проверка</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container --> 
                                    </div><!-- End .item -->

									<div class="item item-hover">
                                        <div class="item-image-wrapper">
                                            <figure class="item-image-container">
                                                <a asp-action="Product">
                                                    <img src="~/images/products/item8.jpg" alt="item1" class="item-image">
                                                    <img src="~/images/products/item8-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="old-price">₽100</span>
                                                <span class="item-price">₽80</span>
                                            </div><!-- End .item-price-container -->
                                            <span class="discount-rect">-20%</span>
                                        </div><!-- End .item-image-wrapper -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="75"></div>
                                                </div><!-- End .ratings -->
                                                <span class="ratings-amount">
                                                    2 Отзыв(а/ов)
                                                </span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Добавить в корзину</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Избранное</a>
                                                    <a href="#" class="icon-button icon-compare">Проверка</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container --> 
                                    </div><!-- End .item -->

									<div class="item item-hover">
                                        <div class="item-image-wrapper">
                                            <figure class="item-image-container">
                                                <a asp-action="Product">
                                                    <img src="~/images/products/item5.jpg" alt="item1" class="item-image">
                                                    <img src="~/images/products/item5-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">₽99</span>
                                            </div><!-- End .item-price-container -->
                                            <span class="new-rect">Новинка</span>
                                        </div><!-- End .item-image-wrapper -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="40"></div>
                                                </div><!-- End .ratings -->
                                                <span class="ratings-amount">
                                                    3 Отзыв(а/ов)
                                                </span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Добавить в корзину</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Избранное</a>
                                                    <a href="#" class="icon-button icon-compare">Проверка</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container --> 
                                    </div><!-- End .item -->

                                    <div class="item item-hover">
                                        <div class="item-image-wrapper">
                                            <figure class="item-image-container">
                                                <a asp-action="Product">
                                                    <img src="~/images/products/item7.jpg" alt="item1" class="item-image">
                                                    <img src="~/images/products/item7-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">₽280</span>
                                            </div><!-- End .item-price-container -->
                                        </div><!-- End .item-image-wrapper -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a asp-action="Product">Фазелл консекват</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Добавить в корзину</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Избранное</a>
                                                    <a href="#" class="icon-button icon-compare">Проверка</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container --> 
                                    </div><!-- End .item -->
        						</div><!--hot-items-slider -->

                        </div><!-- End .hot-items -->

                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->

                <div class="lg-margin"></div><!-- Space -->

                <div id="brand-slider-container" class="carousel-wrapper">
                    <header class="content-title">
                        <div class="title-bg">
                            <h2 class="title">Производители</h2>
                        </div><!-- End .title-bg -->
                    </header>
                    <div class="carousel-controls">
                        <div id="brand-slider-prev" class="carousel-btn carousel-btn-prev">
                        </div><!-- End .carousel-prev -->
                        <div id="brand-slider-next" class="carousel-btn carousel-btn-next carousel-space">
                        </div><!-- End .carousel-next -->
                    </div><!-- End .carousel-controllers -->
                    <div class="sm-margin"></div><!-- space -->
                    <div class="row">
                        <div class="brand-slider owl-carousel">
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 1"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 2"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 3"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 4"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 5"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 6"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 7"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 8"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 9"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 10"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 11"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 12"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 13"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 14"></a>
                            <a href="#"><img src="~/images/brands/brand-logo.png" alt="Brand Logo 15"></a>
                        </div><!-- End .brand-slider -->
                    </div><!-- End .row -->
                </div><!-- End #brand-slider-container -->

            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

</section><!-- End #content -->
